@import url('https://fonts.googleapis.com/css2?family=Kreon:wght@700&family=Nunito+Sans:opsz,wght@6..12,300&display=swap');

h1, h2 {
    font-family: 'Kreon', serif;
}

h1 {
    font-size: 144px;
}

h2 {
    font-size: 72px;
}

p {
    font-family: 'Nunito Sans', sans-serif;
    font-size: 24px;
}

body {
    max-width: 1000px;
    min-width: 400px;
    margin: 0 20%;
}

nav, footer {
    background-color:black;
    padding: 20px 16px;
}

nav ul{
    display: inline;
}

nav ul li {
    float: right;
}

nav ul li a {
    text-transform: uppercase;
    display: block;
    color: white;
    text-align: center;
    text-decoration: none;
    padding: 0px 16px;
    
}

footer {
    display: block;
    color: white;
    text-align: center;
    text-decoration: none;
}

footer p {
    font-size: 16px;;
    margin: 0 0;
}

.banner {
    position: relative;
    
}

.banner div {
    position: absolute;
    text-align: center;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
   
}

.banner img {
    width: 100%;
}

.banner h1 {
    text-transform: uppercase;
    letter-spacing: 15px;
    color: white;
    margin: 0;
    
}

.banner p {
    color: white;
    margin: 0;
    font-size: 34px;
}

.under-banner {
    margin: 50px 0;
}

.under-banner h2 {
    text-align: center;
    margin: 20px 0 10px 0;
}

.under-banner p {
    text-align: center;
    margin: 0 20px;
    padding: 0;
}

.row-section{
    display: flex;
    flex-direction: row;
}

.row-section.row-section-right {
    display: flex;
    flex-direction: row-reverse;
}

.row-section img {
    display: inline;
    width: 50%;
    
}

.row-section div {
    display: inline;
    padding: 0 30px;
}